

<div class="member-messenger-container">

  <div class="member-messenger-search-container">
    <mat-form-field>
      <input matInput type="text" placeholder="search...">
    </mat-form-field>
  </div>


  <div class="member-messenger-conversation">
    <div class="member-messenger-receipient-image">
      <ng-container>
        <img src="">
      </ng-container>
    </div>

    <div class="conversation-details">
      <ng-container class="conversation-title">
        <span>Cheekbustah</span>
      </ng-container>
      <ng-container class="conversation-latest-message">
        <span>Bro</span>
      </ng-container>
      <div class="conversation-time-read">
        4:08 PM
        <div>
          <mat-icon>check_circle_outline</mat-icon>
        </div>
      </div>
    </div>
  </div>

</div>




