


.member-messenger-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  .member-messenger-search-container{
    grid-area: 1/1/2/6;
  }

  .member-messenger-conversation{
    grid-area: auto /1/ auto / 6;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 100px;
    .member-messenger-receipient-image{
      grid-area: 1/1/2/2;
    }
    .conversation-details{
      grid-area: 1/2/2/3;
      display: grid;
      grid-template-rows: 1fr 2fr;
      grid-template-columns: 3fr 1fr;
      .conversation-title{}
      .conversation-latest-message{}
      .conversation-time-read{
        grid-area: 1/2/3/3;
      }
    }
  }

}
