



<div class="member-mobile-navigation-container">
  <div class="mat-toolbar-container">
    <mat-toolbar>
      <div class="navigation-buttons-container">
        <button mat-icon-button>
          <mat-icon>sms</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>account_box</mat-icon>
        </button>
        <!--        <button>-->
        <!--          <mat-icon></mat-icon>-->
        <!--        </button>-->
      </div>
    </mat-toolbar>
  </div>
</div>

<div class="member-tablet-navigation-container">

</div>

<div class="member-pc-navigation-container">
  <div class="navigation-buttons-container">
    <button mat-icon-button>
      <mat-icon>sms</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
<!--    <button>-->
<!--      <mat-icon>camera_indoor</mat-icon>-->
<!--    </button>-->
    <button mat-icon-button>
      <mat-icon>account_box</mat-icon>
    </button>
  </div>
</div>
