

<div class="founder-bottomNav-container">
  <mat-toolbar class="founder-bottomNav-mat-toolbar">
    <div class="toolbar-content-container">

        <div class="bottomNav-button-container">
          <button mat-icon-button class="bottomNav-button">
            <mat-icon class="bottomNav-button-icon">mms</mat-icon>
          </button>
        </div>

        <div class="bottomNav-button-container">
          <button mat-icon-button class="bottomNav-button">
            <mat-icon class="bottomNav-button-icon">foundation</mat-icon>
          </button>
        </div>

       <div class="bottomNav-button-container">
          <button mat-icon-button class="bottomNav-button">
            <mat-icon class="bottomNav-button-icon">perm_identity</mat-icon>
          </button>
        </div>

       <div class="bottomNav-button-container">
          <button mat-icon-button class="bottomNav-button">
            <mat-icon class="bottomNav-button-icon">explore</mat-icon>
          </button>
        </div>

        <div class="bottomNav-button-container">
          <button mat-icon-button class="bottomNav-button">
            <mat-icon class="bottomNav-button-icon">video_call</mat-icon>
         </button>
        </div>

    </div>
  </mat-toolbar>
</div>


